// Styling for the navbar
#mainNav {
    background-color: #008080;
}

.navbar-brand {
    background: -webkit-linear-gradient(top, black, red);
	background: linear-gradient(top, black, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
