// global styles
* {
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.container {
    //border: 1px solid green;
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
}

.section-title {
    margin-top: 1rem;
	margin-bottom: 1rem;
}

.section-title  h2 {
    text-transform: uppercase;
    font-weight: 700;
}
.button-down {
    margin-top: 1rem;
}
