
// header styling
#home {

}

#MainContainer {
  perspective: 1px;
  height: 100vh;
}

.ParallaxContainer {
  	background-attachment: fixed;
  	z-index: -1;
  	height: 100vh;
  	justify-content: center;
  	align-items: center;
  	transform: translateZ(-1px) scale(2);
  	background-repeat: no-repeat;
  	background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/slider-01.jpg");
}

// .bg-img-2 {
//     background-image: url("../img/keyboard-wallpaper.jpg");
// }

// .bg-img- {
//     background-image: url("../img/bg-2.jpg");
// }


.parallax-content {
    top: 50%;
    bottom: 50%;
	max-width: 40%;
	color: #303030;
    font-size: 24px;
    font-weight: 300;
}

.parallax-content h1 {
    color: #00185b;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2rem;
    text-transform: uppercase;
}
.parallax-content p {
    color: #34618f;
}

.ContentContainer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  	position: relative;
  	display: block;
  	background-color: white;
  	z-index: 1;
}
