// header styling
#home {

}

#MainContainer {
  perspective: 1px;
  height: 100vh;
}

.ParallaxContainer {
  	background-attachment: fixed;
  	height: 100vh;
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/povilasBW.jpeg");
}

.parallax-content {
    padding: 1rem;
    font-size: 24px;
    font-weight: 300;
}

.parallax-content h1 {
    color: black;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    //text-transform: uppercase;
}

.parallax-content p {
    color: black;
    font-weight: bold;
}

.ContentContainer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  	position: relative;
  	display: block;
  	background-color: white;
  	z-index: 1;
}
